<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
    <link rel="stylesheet" href="/css/displayplaylist.css" th:href="@{/css/displayplaylist.css}">

</head>
<body>
<table border="1">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Songs</th>
				
				
			</tr>
		</thead>
			<tbody>
				<tr th:each="playlist:${playlists}">
					<td th:text="${playlist.id}"></td>
					<td th:text="${playlist.name}"></td>
					
					<td><ul>
						<li th:each="song:${playlist.song}">
						 <span th:text="${song.name}"></span><audio controls>
			<source th:src="${song.link}" type="audio/mpeg"> 
			</audio>
			</li>
			</ul>
			</td>
					
				</tr>
			</tbody>	
	</table>
	<br>
<a href="deleteplaylists">Delete Playlist</a>
</body>
</html>