<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
    <link rel="stylesheet" href="/css/login.css" th:href="@{/css/login.css}">

</head>
<body>
<div class="login-container" style="width:400px">

<!-- message  box -->
<!--
<div th:if="${session.message}" class="container">
<div class="alert alert-danger my-2 text-center" role="alert">
<span th:text="$(session.message}"></span>
</div>
<th:block th:text="${#session.removeAttribute('message')}"></th:block>
</div>
-->
<h2 class="text-center m-3" >Enter Registered Email</h2>
<form action="forgot" method="post">
  <div class="form-group" >
<input required type="email" name="email" placeholder="Enter Email"/>
  </div>

   
  
 <button type="submit">Send otp</button>

</form>
   </div>
</body>
</html>