<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
    <link rel="stylesheet" href="/css/index.css" th:href="@{/css/index.css}">


</head>

<body>
<div class="c1">
 <img src="/images/logo-black.png">
 <svg class="curved-text" viewBox="0 0 200 100">
        <!-- Define the path -->
        <path id="curve" d="M20,100 A80,80 0 0,1 190,90" fill="transparent" stroke="transparent"/>

        <!-- Place text along the path -->
        <text fill=" #ee0979" font-size="17">
            <textPath href="#curve" startOffset="50%" text-anchor="middle">
                Tunehub Listen Evergreen Music
            </textPath>
        </text>
    </svg>
<pre>    <a class="shining-button" href="login">Login</a> <i><u>OR</u></i> <a class="shining-button" href="registration">Register</a></pre>

</div>
 
</body>
</html>

