<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
    <link rel="stylesheet" href="/css/passwordchange.css" th:href="@{/css/passwordchange.css}">

</head>
<body>
<div class="login-container">
<h2 >Change Password</h2>
<form action="change-password" method="post">
<div class="form-group">
<label>Email : </label>
<input type="email" name="email" placeholder="Enter Email"/>
<label>Password : </label>
<input type="password" name="password" placeholder="Enter new password"/>

   </div>
   <br>
<a th:href="@{/login}">Login?</a>
   
  
 <button type="submit">Change</button>

</form>
   </div>
</body>
</html>